// Include this mixin for each section in your homepage.
@mixin responsive-padding {
  padding: 2rem 1.5rem 2.5rem;

  @media (min-width: breakpoint(tablet)) {
    padding: 2.5rem 2.5rem 2.55rem;
  }

  @media (min-width: breakpoint(laptop)) {
    padding: 2.6rem 3.5rem 2.65rem;
  }

  @media (min-width: breakpoint(desktop)) {
    padding: 2.723rem 5rem 2.9rem;
  }
}

@mixin background($path) {
  background: url($path);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex($direction) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
}

@mixin between-breakpoints($min, $max) {
  /**
   // This example shows how to create a breakpoint between tablet width and laptop.
    @import "functions";

   @include between-breakpoints(breakpoint(tablet), breakpoint(laptop)) {
     // your styles...
   }  
  */

  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin section-margin-bottom {
  margin-bottom: 120px;
  @media (min-width: breakpoint(tablet)) {
    margin-bottom: 144px;
  }
  @media (min-width: breakpoint(desktop)) {
    margin-bottom: 200.45px;
  }
}
