$colors: (
  light-cream: #fefcf7,
  dark-cyan: #0e8784,
  dark-grey-blue: #333d4b,
  pale-orange: #fdd6ba,
  grey: #83888f,
  outer-space: #2c343e,
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  extra-bold: 900,
);

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1400px,
);

$heading-sizes: (
  // if browser font size is 16 px, then 4.5 rem = 72px
  h1: 4.5rem,
  // 40px
  h2: 2.5rem,
  // 32px
  h3: 2rem,
  // 24px
  h4: 1.5rem
);
