@import "functions";
@import "mixins";

@mixin quality-image($backgroundUrl) {
  background: url($backgroundUrl);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

#about {
  // For hero section styles, go to Hero.module.scss
  @include flex(column) {
    align-items: center;
  }

  .ourCommitment {
    margin-bottom: 200px;

    @include flex(column) {
      @media (min-width: breakpoint(tablet)) {
        flex-direction: row;
        justify-content: center;
      }
    }

    .image {
      background: url("../public/assets/about/mobile/image-commitment.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: breakpoint(mobile)) {
        height: 400px;
        margin-bottom: 48px;
      }

      @media (min-width: breakpoint(tablet)) {
        background: url("../public/assets/about/tablet/image-commitment.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 281px;
        margin-right: 69px;
      }

      @media (min-width: breakpoint(desktop)) {
        background: url("../public/assets/about/desktop/image-commitment.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 445px;
        margin-right: 125px;
      }
    }

    .content {
      text-align: center;

      @media (min-width: breakpoint(tablet)) {
        width: 339px;
        text-align: start;
      }

      .title {
        margin: 0;
        margin-bottom: 30px;
      }

      .description {
        margin: 0;
      }
    }
  }

  .uncompromisingQuality {
    @include flex(column) {
      align-items: center;
      justify-content: center;
      @media (min-width: breakpoint(desktop)) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }

    background: color(outer-space);
    text-align: center;
    color: white;
    padding-bottom: 61px;
    height: 550px;
    width: 327px;

    @media (max-width: breakpoint(mobile-s)) {
      height: 609px;
    }

    @media (min-width: breakpoint(tablet)) {
      height: 588px;
      width: 699px;
    }

    @media (min-width: breakpoint(desktop)) {
      text-align: start;
      width: 1280px;
    }

    .imageContainer {
      width: 279px;
      height: 156px;

      @media (min-width: breakpoint(tablet)) {
        width: 573px;
        height: 320px;
      }

      @media (min-width: breakpoint(desktop)) {
        width: 445px;
        height: 474px;
      }

      .image {
        position: relative;
        bottom: 64px;
        @include quality-image(
          "../public/assets/about/mobile/image-quality.jpg"
        );

        @media (min-width: breakpoint(tablet)) {
          @include quality-image(
            "../public/assets/about/tablet/image-quality.jpg"
          );
        }

        @media (min-width: breakpoint(desktop)) {
          @include quality-image(
            "../public/assets/about/desktop/image-quality.jpg"
          );
        }
      }
    }

    .content {
      color: color(light-cream);

      @media (min-width: breakpoint(desktop)) {
        width: 540px;
      }
      .title {
        margin: 0 0 24px;

        @media (min-width: breakpoint(desktop)) {
          font-size: 2.5rem;
        }
      }

      .description {
        opacity: 0.8;
      }
    }
  }

  .ourHeadquarters {
    text-align: center;

    @media (min-width: breakpoint(tablet)) {
      text-align: start;
      width: 688px;
    }

    @media (min-width: breakpoint(desktop)) {
      width: 1045px;
    }

    .title {
      color: color(grey);
      margin-bottom: 72px;
    }

    .locations {
      @include grid {
        gap: 80px;

        @media (min-width: breakpoint(tablet)) {
          grid-auto-flow: column;
          gap: 10px;
        }

        @media (min-width: breakpoint(tablet)) {
          gap: 95px;
        }
      }

      .location {
        .imageContainer {
        }

        .country {
          margin-bottom: 24px;
          @media (min-width: breakpoint(desktop)) {
            font-size: 2rem;
          }
        }

        .description {
          span {
            display: block;
          }
        }
      }
    }
  }
}
