@import "functions";
@import "mixins";

.card {
  @include flex($direction: column);
  background: color(dark-cyan);
  border-radius: 10px;
  color: color(light-cream);
  padding: 72px 33.5px 24px;
  justify-content: center;
  align-items: center;
  width: 279px;

  @media (max-width: breakpoint(mobile-s)) {
    width: 235px;
  }

  @media (min-width: breakpoint(tablet)) {
    width: 572px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: 350px;
    height: 382px;
  }

  .icon {
    margin-bottom: 67px;

    @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(laptop) - 1) {
      margin-bottom: 0;
    }

    @include flex {
      align-items: center;
    }
  }

  h4 {
    margin: 0;
  }

  @include between-breakpoints(breakpoint(tablet), breakpoint(laptop) - 1) {
    flex-direction: row;
    text-align: start;
    padding: 41px 48px 31px;
    .icon {
      margin-right: 55px;
    }
  }
}
