@import "mixins";
@import "functions";

.container {
  .question {
    cursor: pointer;
    @include flex(row) {
      justify-content: space-between;
    }

    h4.title {
      margin: 0;
      @media (min-width: breakpoint(tablet)) {
        font-size: heading(h3);
      }
      @media (min-width: breakpoint(desktop)) {
        font-size: heading(h2);
      }
    }
  }

  .answers {
    .answer {
      cursor: pointer;
    }
  }

  .arrow {
    @include flex(row) {
      align-items: center;
    }

    &__flipped {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
    }
  }
}
