@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@300;400;500;700;900&display=swap");

@import "variables";
@import "functions";
@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: color(light-cream);
  font-family: "Barlow", sans-serif;
  font-weight: font-weight(regular);
  font-size: 1rem;

  // @include responsive-padding;
}

nav {
  .link {
    font-weight: font-weight(bold);
  }
}

button {
  background: color(dark-cyan);
  border-radius: 6px;
  border: none;
  outline: none;
  width: 217px;
  height: 56px;
  color: white;
  font-size: 1.125rem;
  font-family: Fraunces, sans-serif;
  font-weight: font-weight(extra-bold);
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.75px;
  cursor: pointer;

  &:hover {
    $button-hover-color: #66d2cf;
    background: $button-hover-color;
  }

  &:disabled {
    $button-disabled-color: #e2dedb;
    background: $button-disabled-color;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Fraunces, sans-serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

p {
  line-height: 28px;
  font-size: 1rem;
  font-weight: font-weight(regular);
  letter-spacing: 1px;
}

section {
  @include section-margin-bottom;
  @include responsive-padding;

  border-radius: 10px;
  div {
    border-radius: 10px;
  }
}
