@import "mixins";
@import "functions";

.container {
  background-color: #a2a2a2;
  display: flex;
  align-items: center;
  padding: 0 24px;

  .content {
    color: white;
    text-align: center;

    @media (min-width: breakpoint(tablet)) {
      text-align: start;
    }

    .title {
      margin: 0;
      font-size: heading(h2);

      @media (max-width: breakpoint(mobile-s)) {
        font-size: heading(h3);
      }

      @media (min-width: breakpoint(tablet)) {
        font-size: heading(h2) + 0.5rem;
        text-align: start;
        padding-right: 30px;
      }

      @media (min-width: breakpoint(desktop)) {
        font-size: heading(h1);
        width: 50%;
      }
    }

    .description {
      opacity: 0.8;
      // line-height: 33px;
      margin-bottom: 40px;
      // letter-spacing: 1.45px;

      @media (max-width: breakpoint(mobile-s)) {
        margin-bottom: 10px;
      }

      @media (min-width: breakpoint(tablet)) {
        margin-bottom: 40px;
      }

      @media (min-width: breakpoint(desktop)) {
        margin-bottom: 56px;
        width: 50%;
      }
    }
  }
}

// BACKGROUNDS
// User must pass coffeepress, blackcup, or whitecup to the background prop of the
// Hero component.
#coffeepress {
  height: 500px;

  @include background(
    "../public/assets/home/mobile/image-hero-coffeepress.jpg"
  );

  @media (min-width: breakpoint(tablet)) {
    @include background(
      "../public/assets/home/tablet/image-hero-coffeepress.jpg"
    );
    padding: 50px 170px 104px 58px;
  }

  @media (min-width: breakpoint(desktop)) {
    @include background(
      "../public/assets/home/desktop/image-hero-coffeepress.jpg"
    );
    height: 600px;
  }
}

#blackcup {
  @include background("../public/assets/plan/mobile/image-hero-blackcup.jpg");
  height: 400px;

  @media (min-width: breakpoint(tablet)) {
    @include background("../public/assets/plan/tablet/image-hero-blackcup.jpg");
    padding: 50px 170px 104px 58px;
  }

  @media (min-width: breakpoint(desktop)) {
    @include background(
      "../public/assets/plan/desktop/image-hero-blackcup.jpg"
    );
    height: 600px;
  }
}

#whitecup {
  height: 400px;

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.9375rem;
  }

  @include background("../public/assets/about/mobile/image-hero-whitecup.jpg");
  @media (min-width: breakpoint(tablet)) {
    @include background(
      "../public/assets/about/tablet/image-hero-whitecup.jpg"
    );
    padding: 50px 170px 104px 58px;
  }

  @media (min-width: breakpoint(desktop)) {
    @include background(
      "../public/assets/about/desktop/image-hero-whitecup.jpg"
    );
    height: 600px;
  }
}
