@import "functions";

#home {
  .container {
    border-radius: 10px;
    background: url("../public/assets/home/mobile/image-hero-coffeepress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #a2a2a2;
    height: 600px;
    padding: 100px 24px;

    .content {
      color: white;
      text-align: center;
      p {
        opacity: 0.8;
        margin-bottom: 39px;
      }
    }
  }
}
