@import "mixins";
@import "functions";

// This is for the horizontal line that goes through the circles above the step numbers
// Check the "circle" class below for more about the circles
@media (max-width: breakpoint(mobile)) {
  .line {
    display: none;
  }
}

@media (min-width: breakpoint(tablet)) {
  .line {
    position: relative;
    top: 17px;
    z-index: -1;
    margin: 0;
    width: 72.2%;
    border-color: color(pale-orange);

    // If the "true" has been passed to the "dark" prop in <HowItWorks /> then &__darkTopPosition styles
    // are applied. This is a very poor and brute force way of implementing the styles for this drawing but
    // it'll do for now.
    &__darkPosition {
      top: 97px;
      z-index: 0;
      @media (min-width: breakpoint(desktop)) {
        top: 115px;
        left: 90px;
        width: 61%;
      }
    }
  }
}

.grid {
  text-align: center;
  margin-bottom: 69px;

  @media (min-width: breakpoint(tablet)) {
    text-align: start;
  }

  @include grid($gap: 56px) {
    @media (min-width: breakpoint(tablet)) {
      grid-auto-flow: column;
      gap: 20px;
    }
    @media (min-width: breakpoint(desktop)) {
      gap: 90px;
    }
  }

  .cell {
    // The circle that sits above each step number
    // Only shows at tablet width or greater
    @media (min-width: breakpoint(tablet)) {
      .circle {
        border-radius: 50%;
        width: 31px;
        height: 31px;
        background: color(light-cream);
        border: 2px solid color(dark-cyan);
        margin-bottom: 67px;
      }
    }
    h1 {
      color: color(pale-orange);
      margin: 0;
    }
  }

  &__dark {
    @include ignore-body-padding;

    background: color(outer-space);
    padding: 80px 24px;
    margin-bottom: 0;
    @media (min-width: breakpoint(desktop)) {
      padding: 99px 150px 99px 85px;
    }
    .cell {
      h3,
      p {
        color: white;
      }
      .circle {
        background: color(outer-space);
        z-index: 2;
      }
    }
  }
}
