@import "mixins";
@import "functions";

.grid {
  text-align: center;
  margin-bottom: 69px;

  @media (min-width: breakpoint(tablet)) {
    text-align: start;
  }

  @include grid($gap: 56px) {
    @media (min-width: breakpoint(tablet)) {
      grid-auto-flow: column;
      gap: 20px;
    }
    @media (min-width: breakpoint(desktop)) {
      gap: 90px;
    }
  }

  .cell {
    @media (min-width: breakpoint(tablet)) {
      .circle {
        border-radius: 50%;
        width: 31px;
        height: 31px;
        background: inherit;
        border: 2px solid color(dark-cyan);
      }
    }

    h1 {
      color: color(pale-orange);
      margin: 0;
    }
  }

  &__dark {
    @include ignore-body-padding;

    background: color(outer-space);
    padding: 80px 24px;
    margin-bottom: 0;
    @media (min-width: breakpoint(desktop)) {
      padding: 99px 150px 99px 85px;
    }
    .cell {
      h3,
      p {
        color: white;
      }
    }
  }
}
