@import "mixins";
@import "functions";

.nav {
  display: flex;
  justify-content: space-between;

  @include responsive-padding;

  .hamburger {
    cursor: pointer;
  }

  .logo {
    width: 10rem;
  }
}
