@import "mixins";
@import "functions";

#plan {
  section.hero {
  }

  section.howItWorks {
  }

  section.createYourPlan {
    @include grid {
      grid-auto-flow: column;
    }

    .panels {
      @include grid;

      @media (min-width: breakpoint(desktop)) {
        width: 90%;
      }

      .createYourPlanBtn {
        display: flex;
        justify-content: center;
        @media (min-width: breakpoint(laptop)) {
          justify-content: flex-end;
        }
      }
    }
    // See ExpansionPanel.module.scss for <ExpansionPanel /> styles.
  }
}
